/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=VT323);

body, input {
  background: #000000;
  color:  #00DB00;
  font-family: 'VT323', Arial, Helvetica, sans-serif;;
  font-size: 24px;
  -webkit-font-smoothing: none;
  line-height: 1.2;
}
  
form, p, span {
    margin:0;
    padding:0;
}

form input[type="text"] {
    text-transform: lowercase;
}
  
  
a {
    color: #00DB00;
    text-decoration:none; 
}
  
a:hover { 
    text-decoration:underline; 
}

.container {
  padding: 25px;
}
  
#wrapper, #loginform {
    margin: 0 auto;
    background: #000000;
    width: 100%;
    border: none; 
}
  
#loginform { 
    padding-top:18px; 
}
  
#loginform p { 
    margin: 5px; 
}
  
#terminal {
    text-align:left;
    margin:0 auto;
    background: #000000;
    height: 500px;
    width: 100%;
    border: 1px solid #000000;
    overflow:auto;
    color: #00DB00;
}
  
#input {
    width: 50%;
    border: 1px solid #000000;
    background-color: #000000;
    color: #00DB00;
    font-size: 24px;
}

textarea:focus, input:focus{
    outline: none;
}
  
#submit { 
    width: 60px; 
}
  
.error { 
    color: #ff0000; 
}
  
.logout { 
    float:right; 
}
  
.response { 
    margin:0 0 2px 0; 
}


/*
 *  Scrollbar style
 */

#terminal::-webkit-scrollbar-track, #terminal::-webkit-scrollbar-corner
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: #000000;
    border-radius: 10px;
}

#terminal::-webkit-scrollbar
{
    width: 10px;
    background-color: #000000;
}

#terminal::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #FFF;
    background-image: -webkit-gradient(linear,
                                       40% 0%,
                                       75% 84%,
                                       from(#4D9C41),
                                       to(#19911D),
                                       color-stop(.6,#54DE5D))
}
